
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 2000px;
}

.site-topbar {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.container {
    width: 1226px;
    margin:0 auto;
}

.container .container-left {
    float: left;
    position: relative;
}

.container .container-left a {
    display: inline-block;
    height: 100%;
    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
}

.container .container-left a:hover {
    color: #fff;
}

.container .container-left .line {
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 6px;
    font-size: 12px;
    color: #424242;
}

.container .container-left .box {
    z-index: 999;
    position: absolute;
    top: 40px;
    right: 50px;
    display: none;
    width: 124px;
    padding-top: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgb(170, 170, 170) 0px 1px 5px;
}

.container .container-left .box em {
    z-index: 999;
    position: absolute;
    top: -20px;
    left: 50px;
    border-width: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: transparent transparent #fff;

}

.box p {
    margin-top: -20px;
    font-size: 14px;
    color: #333;
}

.container .container-right-r {
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    padding-left: 17px;
    line-height: 40px;
    background-color: #424242;
    box-sizing: border-box;
}

.container .container-right-r a {
    font-size: 12px;
    line-height: 40px;
    color: #a8b0b0;
}

.container .container-right-r a i {
    margin-right: 4px;
    vertical-align: -1px;
}

.container .container-right-r .container-right-r-bottom {
    z-index: 999;
    position: absolute;
    top: 40px;
    left: -196px;
    display: none;
    width: 316px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.container .container-right-r .container-right-r-bottom p {
    color: #424242;
    text-align: center;
    font-size: 12px;
}

.container .container-right-l {
    float: right;
    width: 127px;
    height: 40px;
    margin-right: 26px;
    font-size: 12px;
    line-height: 40px;

}

.container .container-right-l a {
    color: #b0b0b0;
}

.container .container-right-l a:hover {
    color: #fff;
}

.container .container-right-l span {
    display: inline-block;
    margin: 0 6px;
    width: 1px;
    height: 13px;
    color: #424242;
    font-size: 12px;
}

.site-header {
    height: 100px;
    width: 100%;

}

.site-header-in {
    position: relative;
}

.site-header .logo {
    position: absolute;
    left: 0;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background: url("../images/logo.jpg");
}

.site-header .site-header-center {
    float: left;
    width: 850px;
    height: 100%;
    padding-left: 190px;
    line-height: 100px;
    box-sizing: border-box;
}

.site-header .site-header-center li {
    float: left;
    margin-right: 20px;
}

.site-header .site-header-center li a {
    color: #333;
}

.site-header .site-header-center li a:hover {
    color: #ff6700;
}

.site-header .site-header-right {
    position: relative;
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}

.site-header .site-header-right .search {
    float: left;
    height: 100%;
    width: 245px;
    padding: 0 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-right: none;
    box-sizing: border-box;
}

.site-header .site-header-right .btn {
    width: 51px;
    height: 50px;
    font-weight: bold;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.site-header-right:hover .search {
    border-color:#ccc;
}
.site-header-right:hover .btn {
    border-color:#ccc;
}
.site-header .site-header-right .btn:hover {
    color: #fff;
    border-color: #ff6700;
    background-color: #ff6700;
}

.site-header .site-header-right .search-hot-words {
    position: absolute;
    left: 110px;
    top: 14px;
    width: 130px;
    height: 18px;
}

.site-header .site-header-right .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    color: #757575;
    background-color: #eeeeee;
    transition: all .3s;
}

.site-header .site-header-right .search-hot-words a:hover {
    color: #fff;
    background-color: #ff6700;
}

.home-hero-slider {
    height: 460px;
}

.home-hero-slider-in {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-hero-slider-in .left-right a {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 74px;
    margin-top: -37px;
    text-align: center;
    transition: all .3s;
}

.home-hero-slider-in .left-right .left {
    left: 235px;
}

.home-hero-slider-in .left-right .right {
    right: 0px;
}

.home-hero-slider-in .left-right i {
    font-size: 35px;
    line-height: 74px;
    color: #ccc;
}

.home-hero-slider-in .left-right a:hover {
    background-color: #616161;
}

.home-hero-slider-in .rotation a {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 460px;
    opacity: 0;
}

.home-hero-slider-in .pager {
    position: absolute;
    right: 30px;
    bottom: 25px;
    height: auto;
    padding: 4px 7px;
    border-radius: 15px;
    background: rgba(255, 255, 255, .2);
}

.home-hero-slider-in .pager li {
    float: left;
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all .4s;
}

.home-hero-slider-in .pager .current {
    background-color: #fff;
}

.home-hero-slider .home-hero-slider-left {
    position: absolute;
    width: 235px;
    height: 100%;
    padding-top: 20px;
    line-height: 42px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
}

.home-hero-slider .home-hero-slider-left a {
    display: inline-block;
    width: 100%;
    height: 42px;
    color: #fff;
    padding: 0 25px 0 30px;
    box-sizing: border-box;
    transition: all .2s;
}

.home-hero-slider .home-hero-slider-left a:hover {
    background-color: #ff6700;
}

.home-hero-slider .home-hero-slider-left i {
    float: right;
    color: rgba(255, 255, 255, 0.5);;
}

.nav-bar {
    position: fixed;
    right: -8px;
    top: 150px;
    width: 27px;
    height: 161px;
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;

}

.nav-bar ul {
    width: 100%;
    height: 100%;
}

.nav-bar li {
    display: inline-block;
    width: 100%;
    height: 25%;
}

.nav-bar a {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.4);
    border:1px solid #f5f5f5;
}
.nav-bar a:hover{
    color:#ff6700;
}
.nav-bar li:nth-child(1) i {
    font-size: 25px;
}
.nav-bar li:nth-child(1) span{
    display:none;
    position:absolute;
    left:-115px;
    top: 0;
    padding:10px;
    background-color: #fff;
}
.nav-bar li:nth-child(1) span p{
    width: 83px;
    margin-top: -10px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #757575;
}
.nav-bar li:nth-child(1) span em img{
    position: absolute;
    left: 110px;
    top: 17px;
}
.nav-bar li:nth-child(2) i {
    font-size: 25px;
}

.nav-bar li:nth-child(3) i {
    font-size: 16px;
}

.nav-bar li:nth-child(4) i {
    font-size: 19px;
    font-weight: normal;
}
.home-hero-sub{
    margin-top:14px;
    height: 170px;
}
.home-hero-sub-left{
    float: left;
    position:relative;
    width: 235px;

}
.home-hero-sub-left li{
    float: left;
    width: 78px;
    height: 85px;
    text-align: center;
    background-color: #5f5750;

}
.home-hero-sub-left li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top:20px;
    color:#cfcdcb;
    font-size: 12px;
    box-sizing: border-box;
    transition: all .3s;
}
.home-hero-sub-left li a:hover{
    color:#fff;
}
.home-hero-sub-left li a .iconfont{
    display: inline-block;
    width: 73px;
    height: 24px;
    font-size: 20px;
}
.home-hero-sub-left li:before,
.home-hero-sub-left li:after{
    position: absolute;
    content: "";
    background: #665e57;
}
.home-hero-sub-left .li-1:after {
    top: 9px;
    left: 79px;
    width: 1px;
    height: 70px;
}
.home-hero-sub-left .li-1:before {
    top: 85px;
    left: 9px;
    width: 64px;
    height: 1px;
}
.home-hero-sub-left .li-2:after {
    top: 9px;
    left: 155px;
    width: 1px;
    height: 70px;
}
.home-hero-sub-left .li-2:before {
    top: 85px;
    left: 85px;
    width: 64px;
    height: 1px;
}
.home-hero-sub-left .li-3:before{
    top: 85px;
    left: 161px;
    width: 64px;
    height: 1px;
}
.home-hero-sub-left .li-4:after {
     top: 91px;
     left: 79px;
     width: 1px;
     height: 70px;
 }
.home-hero-sub-left .li-5:after {
    top: 91px;
    left: 155px;
    width: 1px;
    height: 70px;
}
.home-hero-sub-right {
    float:right;
    width: 991px;
    height: 100%;

}
.home-hero-sub-right ul{
    height: 100%;
}
.home-hero-sub-right ul li{
    float: left;
    width: 316px;
    height: 100%;
    margin-left: 14px;
    transition:all .3s;
}
.home-hero-sub-right ul li:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}
.title {
    margin-top:26px;
    font-size:22px;
    font-weight: 200;
    line-height: 58px;
    color:#333;
}
.box-hd{
    position:relative;
}
.box-hd .more{
    position:absolute;
    right: 0;
    top: 24px;
    width: 70px;
    height: 22px;
    border:1px solid #e0e0e0;
    box-sizing: border-box;
}
.box-hd .more a{
    display: inline-block;
    width: 49%;
    height: 100%;
    font-weight: bold;
    color:#b3b0b0;
    line-height: 22px;
    text-align: center;
}
.box-hd .more a:hover{
    color:#ff6700;
}
.box-hd .more a:nth-child(2){
    border-left:1px solid #e0e0e0;
}
.box .box-md{
    height: 340px;
    position: relative;

}
.box .box-md-lt{
    float: left;
    width: 235px;
    height: 100%;
    background-color: #f1eded;
}
.box .box-md-lt:before{
    position: absolute;
    width: 235px;
    height: 1px;
    content: "";
    background-color: #e53935;
}
.box .box-md-lt .time{
    padding-top: 60px;
    color:#ef3a3b;
    font-size: 21px;
    text-align: center;
}
.box .box-md-lt img{
    margin-top: 30px;
    margin-left: 100px;
}
.box .box-md-lt p {
    padding-top: 50px;
    font-size: 14px;
    text-align: center;
}
.box .box-md-lt .countdown{
    width: 168px;
    height: 46px;
    margin: 30px 0 0 33px;
}
.box .box-md-lt .countdown div{
    float: left;
    text-align: center;
    line-height: 46px;
}
.box .box-md-lt .countdown .box{
    width: 46px;
    height: 46px;
    font-size:24px;
    color:#fff;
    background-color: #605751;
}
.box .box-md-lt .countdown .dosh{
    width: 15px;
    height: 46px;
    font-size:28px;
}
.box .box-md .carousel-wrapper{
    position: relative;
    float: right;
    width: 991px;
    height: 340px;
    overflow: hidden;
}
.box .box-md .carousel-wrapper ul{
    position: absolute;
    width: 3000%;
}
.box .box-md .carousel-wrapper li{
    position: relative;
    float: left;
    width: 234px;
    height: 340px;
    padding-top: 39px;
    margin-left: 14px;
    background-color: #fff;
    text-align: center;
}
.box .box-md .carousel-wrapper li h3{
    margin-top:27px;
    color:#212121;
    font-size: 14px;
    font-weight: 400;
}
.box .box-md .carousel-wrapper li .desc{
    margin-top:8px;
    font-size: 12px;
    color:#adadad;
}
.box .box-md .carousel-wrapper li .price{
    margin-top:15px;
}
.box .box-md .carousel-wrapper li .price span{
     color:#fa6509;
 }
.box .box-md .carousel-wrapper li .price del{
    color:#adadad;
}
.box .box-md .carousel-wrapper li>a{
    z-index: 2;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    height: 340px;
    background: rgba(0,0,0,.03);
}
.box .box-md .carousel-wrapper li>span{
    position: absolute;
    top: 0;
    left: 85px;
    padding:2px 7px;
    font-size: 12px;
    background-color: #e53935;
    color:#fff;
}
.box .home-banner{
    height: 121px;
    margin-top:42px;
}